<div class="menu navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li ng-class="{active:scuntCtrl.isTab('home')}"
                ng-click="scuntCtrl.setTab('home')"><a href="#" >Home</a></li>
        <li ng-class="{active:scuntCtrl.isTab('groups')}"
                ng-click="scuntCtrl.setTab('groups')"><a href="#/groups" >Groups</a></li>
        <li ng-class="{active:scuntCtrl.isTab('clues')}"
                ng-click="scuntCtrl.setTab('clues')"><a href="#/clues">Clues</a></li>
      </ul>
    </div>
</div>