
<table class="table striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% _.each(groups, function(group) { %>
                    <tr>
                        <td><%= group.get('name') %></td>
                        <td><%= group.get('password') %></td>
                        <td></td>
                    </tr>
                <% }); %>
            </tbody>
</table>
